* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
     
    }

    body {
      background: #f5f5f5;
      color: #333;
    }

    /* Navbar */
    nav {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background: #222;
      padding: 15px;
   
      display: flex;
      justify-content: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 20px;
      font-size: 18px;
      position: relative;
    }

    nav a::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background: #ff9800;
      left: 0;
      bottom: -5px;
      transition: 0.3s;
    }

    nav a:hover::after {
      width: 100%;
    }

    /* Sections */
    section {
      height: 100vh;
      padding: 80px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      animation: fadeIn 1.2s ease-in-out;
    }

    @keyframes fadeIn {
      from {opacity: 0; transform: translateY(50px);}
      to {opacity: 1; transform: translateY(0);}
    }

    #home {
      background: url('https://images.unsplash.com/photo-1549924231-f129b911e442?auto=format&fit=crop&w=1500&q=80') no-repeat center/cover;
      color: white;
    }

    #about {
      background: #ff9800;
      color: white;
    }

    #products {
      background: #222;
      color: white;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 100px 50px;
    }

    .product {
      background: white;
      color: black;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      transition: transform 0.3s;
    }


     .product:hover {
      transform: scale(1.05);
    }

    #contact {
      background: #4caf50;
      color: white;
    }

    